/* Styling goes in this file */

body{
	font-family : Arial;
}

.centered{
	text-align: center;
}

.container{
	border-style: solid;
	border-color: black;
}

#p1 {
	color: darkgreen;
}

#rect {
	width: 400px;
	height: 200px;
	fill: lavenderblush;


}